.page__header {
    display: flex;
    align-items: center;
    column-gap: 20px;

    h2 {
        font-size: 20px;
        line-height: 22px;
        color: var(--black);
        margin-right: auto;
    }

}

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    select {
        width: 260px;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid #e6e6f0;
        background: var(--grey);

        &:hover {
            cursor: pointer;
        }

    }

}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 55px;
    padding-bottom: 80px;
}
